## Ignorar archivos de configuración y binarios de .NET Core
bin/
obj/
out/

## Ignorar archivos temporales que pueden ser creados si se cierra una solución abruptamente
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.ds_store
*.sln.docstates

## Ignorar archivos de configuración de Rider
.idea/

## Ignorar archivos de la carpeta de paquetes NuGet
**/[Pp]ackages/
*.nupkg
# Ignorar la caché de NuGet
!**/[Pp]ackages/build/
**/[Pp]ackages/repositories.config
*.nuget.props
*.nuget.targets

## Ignorar archivos de compilación de Visual Studio Code
.vscode/
.history/

## Archivos de proyecto y solución
*.sln
*.suo
*.csproj
*.vbproj
*.vcxproj
*.vcxproj.filters
*.proj
*.psproj
*.xproj
*.shproj
*.sfproj

## Archivos de configuración de la aplicación
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

## Archivos de base de datos
*.mdf
*.ldf
*.ndf

## Ignorar archivos específicos de la plataforma
.DS_Store
Thumbs.db

## Archivos de compilación R#
_TeamCity*

## Archivos de compilación BuildOutput
[Pp]ublish/

## Otros archivos y carpetas
[Aa]zure[Pp]ipelines/
[Aa]rtifacts/
[Cc]overage/
[Tt]est[Rr]esult*/
*.orig
*.bak
*.tmp
*.swp
*.trx
*.vspscc
*.vssscc
*.user
*.vspscc
*.userosscache
global.json
